body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(22, 21, 21);
}

div:nth-child(1){
    margin-bottom: 100px;
}

div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
h1,h2,button{
    margin: 5px;
    color: white;
}
button{
    border-radius: 10px;
    padding: 10px 30px;
    color: white;
    border: none;
    background-color: black;
}