body{
    min-width: 320px;
}
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Montserrat", serif;
}

.nav-buttons {
    color: #66686b !important;
    text-transform: none !important;
    font-size: 14px !important;
    font-weight: 300 !important;
    padding: 10px 14px !important;
}
.nav-buttons:hover {
    background-color: #f8f8f8 !important; 
}
